<div id="behind"></div>
<div id="config">
  <h1>Simon</h1>  
  <div class="container-button">
    <div>
        <button (click)="start()" class="item-button" id="start"></button>
        <h4 class="label">START</h4>
    </div>
    <div>
        <button (click)="turnOnStrict()" class="item-button" id="strict"></button>
        <h4 class="label">STRICT</h4>
    </div>
    <div>
        <label class="switch" >
            <input type="checkbox" (click)="turnOnOff()">
            <span class="slider"></span>
        </label>
        <h4 class="label">ON/OFF</h4>
    </div>
  </div>
  <div class="container-button">
    <div class="item-button" id="count">
      <div id="count-text">--</div>
    </div>  
  </div>
</div>


<div class="container">
  <div (click)="recordUserPattern($event)"  class="item" id="green"></div>
  <div (click)="recordUserPattern($event)" class="item" id="red"></div>
</div>

<div class="container">
  <div (click)="recordUserPattern($event)" class="item" id="yellow"></div>
  <div (click)="recordUserPattern($event)" class="item" id="blue"></div>
</div>



