.container {
    display: flex;
    flex-wrap: nowrap;
    height: 50vh;
    width: 100vw;
}

.item {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container-button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 70px;
    align-content: center;
    justify-content: space-around;
}

.container-button div {
    width: 60px;
}

.item-button {
    margin-top: 0px;
    font-size: .18em;
    pointer-events: auto;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;   
    border-radius: 100%;
    border: 4px solid #2e2b2b;
    box-shadow: 0px 2px 3px #2e2b2b;
    margin: auto;
    background-color: #94940E;
}

.strict-glow {
    background-color: yellow;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 4, 0.28);
}

button:focus {outline:0;}

.label {
    color: #2e2b2b;
    font-family: 'Oswald',Arial,sans;
    text-align: center;
    margin-top: 5px;
}

#start {
    background-color: #ED0B0B;
}

#config {
    position: absolute;
    width: 300px;  
    height: 250px; 
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -150px;
    background: grey;
    text-align: center;
    border-radius: 10px;
    font-family: 'Alfa Slab One';
    color: #2e2b2b;
    box-shadow: 0px 2px 3px #2e2b2b;
    padding-bottom: 10px;
}

#config h1 {
    font-size: 4em;
    margin: 10px 5px;
}

#behind {
    position: absolute;
    width: 325px;
    height: 285px;
    margin: -137.5px 0 0 -162.5px;
    z-index: 10;
    top: 50%;
    left: 50%;
    background: #2e2b2b;
    border-radius: 20px;
}

#count {
    width: 60px;
    height: 60px;
    background: #430710;
    border-radius: 15px;  
    font-size: 2em;  
    text-align: center;
    border: 4px solid #2e2b2b; 
    color: rgba(96, 5, 5, 0.65);   
    font-family: 'Orbitron', sans-serif;
    cursor: not-allowed;
}

.count-glow {
    color: rgba(187, 4, 4, 0.92); 
}

#count div {
    padding-top: 9px;
}

/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  } 
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2e2b2b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #52C1FC;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* color divs and glow */
#green {
    background: #00a74a;
}

.green-glow {
    -webkit-animation: greenGlow .5s ease-in-out;
    -moz-animation: greenGlow .5s ease-in-out;
    animation: greenGlow .5s ease-in-out;
}

@keyframes greenGlow {
    from {
        background: #00a74a;
    }
    to {
        background: #31CD76;    
    }
}

#red {
    background: #9f0f17;
}

.red-glow {
    -webkit-animation: redGlow .5s ease-in-out;
    -moz-animation: redGlow .5s ease-in-out;
    animation: redGlow .5s ease-in-out;
}

@keyframes redGlow {
    from {       
        background: #9f0f17;
    }
    to {
        background: #CF232C;    
    }
}

#yellow {
    background: #cca707;
}

.yellow-glow {
    -webkit-animation: yellowGlow .5s ease-in-out;
    -moz-animation: yellowGlow .5s ease-in-out;
    animation: yellowGlow .5s ease-in-out;
}

@keyframes yellowGlow {
    from {       
        background: #C29E05;
    }
    to {
        background: #F3D44E;    
    }
}

#blue {
    background: #094a8f;
}

.blue-glow {
    -webkit-animation: blueGlow .5s ease-in-out;
    -moz-animation: blueGlow .5s ease-in-out;
    animation: blueGlow .5s ease-in-out;
}

@keyframes blueGlow {
    from {       
        background: #094a8f;
    }
    to {
        background: #2F83DD;    
    }
}

